<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div class="post">
      <input type="text" class="title" placeholder="请输入标题">
      <input type="text" class="content" placeholder="请输入内容">
      <button id="submitBtn">提交</button>
    </div>

    <div id="dataList"></div>

    <script>
      $(function() {
        getList();

        $('#submitBtn').click(function() {
          var $title = $('.title').val(), 
            $content = $('.content').val();
          if(!$title) {
            alert('请填写标题');
            return false;
          }
          if(!$content) {
            alert('请填写内容');
            return false;
          }

          $.post('/api/addtest', {
            title: $title,
            content: $content
          }, function(data) {
            console.log('------addtest', data);
            if(data.code === 200) {
              alert('提交成功');
              getList();
            } else {
              alert('提交失败');
            }
          });
        })

      })
      function getList() {
        $.get('/api/test', {}, function(data) {
          console.log('---data', data)
          if(data.code === 200) {
            var html = '', list = data.result;
            for(var i = 0; i < list.length; i++) {
              html += '<div class="item" data-id="' + list[i]._id + '"><div>这是第' + (i+1) + '条数据：标题为 <span class="title">' + list[i].title + '</span>，内容为 <span class="content">' + list[i].content + '</span></div><button class="dele">删除</button><button class="change">修改</button><hr></div>'
            }
            $('#dataList').empty().append(html);
            deleList();
          }
        })
      }

      function deleList() {
        $('#dataList').find('.dele').click(function() {
          var title = $(this).parents('.item').find('.title').text();
          console.log('title', title);
          $.get('/api/deletest', {
            title: title
          }, function(data) {
            console.log('---Delete---', data);
            if(data.code === 200) {
              $(this).parents('.item').remove();
              alert('删除成功');
            }
          })
        })
      }
      
      
    </script>
  </body>
</html>
